body {
  background-color: white;
}

.BoardRow {
  background-color: grey;
}

.Cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
}

.Flipped {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  background-color: #BDBDBD;
}